.wrapper {
  position: relative;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--form-line-color);
  border-radius: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 21px;
  line-height: 27px;
  color: var(--text-color);
  margin-bottom: 29;

  &::placeholder {
    opacity: 0;
  }

  &:not(:placeholder-shown) ~ .label {
    transform: translateY(-26px);
  }

  &:focus ~ .label {
    transform: translateY(-26px);
  }

  &.invalid {
    border-bottom: 1px solid var(--error-color);
  }
}

.label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 20%;
  left: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}
