@import 'normalize.css/normalize.css';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #f7fcfe;
  --light-color: #fff;
  --dark-color: #000;
  --error-color: #f00;
  --text-secondary-color: #8e8e93;
  --form-line-color: #e5e5ea;
  --primary-color: #0abce0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transform: translate3d(0, 0, 0);

  &:disabled {
    cursor: default;
  }

  @media (hover: hover) {
    &:not(:disabled):hover {
      opacity: 0.7;
    }
  }
}
